/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require_self
 */
 html, body {
     height: 100%;
     margin: 0;
     padding: 0;
   }
   #map {
     height: 100%;
   }

   a:hover{
     color: #4eb1e8 !important;

   }

   @media(max-width: 500px) {
     img.navbar-brand{
       width: 25%;
       height: 25%;
       padding-bottom: 0;
       padding-top: 0;
     }
       }

   @media(min-width: 501px) {
     img.navbar-brand{
       width: 15%;
       height: 15%;
       padding-bottom: 0;
       padding-top: 0;
     }
       }

   @media(min-width: 601px) {
     img.navbar-brand{
       width: 20%;
       height: 20%;
       padding-bottom: 0;
       padding-top: 0;
     }
   }

   @media(min-width: 630px) {
     img.navbar-brand{
       width: 20%;
       height: 20%;
       padding-bottom: 0;
       padding-top: 0;
     }
   }
   @media(min-width: 768px) {
     img.navbar-brand{
       width: 50%;
       height: 50%;
       padding-bottom: 0;
       padding-top: 0;
     }
   }



    /*body {
        background-color: #4eb1e8;
    }*/

   /*.blink-owl {
     justify-content: center;
   }*/

   .actions {
    color: #4eb1e8;
    }
